.dashboard {
  background: #eaeff2;
  width: 100vw;
  height: 86vh;
  min-width: 1000px;
  // position: fixed;
  //   min-height: 2000px;
}

.tokenDashboard {
  //   background: chartreuse;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 700px;
}

.tokenDetails {
  width: 50%;
  border: black solid 1px;
  border-radius: 10px;
  //   background: red;
  min-width: 1000px;
}

.titleD {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 30px;
  border-radius: 10px 10px 0px 0px;
  height: 50px;
}

.details {
  background: #eaeff2;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  //   flex-direction: column;
  //   align-items: center;
  justify-content: center;
  height: 300px;
}

.tokencontentdetails {
  // background: red;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 70%;
  padding-top: 25px;
}

.postTokenCreation {
  //   background: yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  // padding-top: 25px;
}

.posttokendetails {
  //   background: blue;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 25px 0px 25px 0px;
  justify-content: space-around;
}

.namediv,
.symboldiv,
.decimaldiv,
.totalSupplydiv,
.ownerdiv {
  //   background: blue;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  align-items: center;
  color: black;
}

.tokenaddress {
  // background: red;
  display: flex;
  // flex-direction: column;
  justify-content: flex-start;
  font-size: 20px;
  align-items: center;
  color: black;
}

.buttondiv {
  //   background: red;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ownerbalance {
  // background: red;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 20px;
  align-items: flex-start;
  color: black;
}

.createTokenButton {
  //   background-color: green;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

input {
  width: 70%;
  border-top: none;
  border-left: none;
  border-right: none;
  background: #eaeff2;
  outline: none;
  color: rgb(44, 44, 44);
  font-size: 20px;
}

button {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  height: 40px;
  border-radius: 7px;
  width: 150px;
  outline: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.network {
  //   background: red;
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.error {
  //   background: red;
  width: 70%;
  display: flex;
  font-size: 20px;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
